<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Computer Engineering and Informatics Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <style type="text/css">
      h2 {
        margin: 2em 0em;
      }
      .ui.container {
        padding-top: 1em;
        padding-bottom: 1em;
      }
      .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
    }
      </style>
  </head>
  <body>
    <div class="ui container">
      <div class="ui section divider"></div>
      <img class="center" src="https://img.icons8.com/carbon-copy/100/000000/bot.png">
      <h1 align="center" class="ui header"><a href="https://github.com/thienkank/chatbotproject.git">GIFTBOTPY 2019</a></h1>
      <h2 align="center" class="ui header">Computer Engineering and Informatics Project</h2>
      <h2 align="center" class="ui header">5930300178 5930300364</h2>
      <div class="ui section divider"></div>
      <p align="center"><a href="https://icons8.com/icon/8SQ5YC8kxJOf/bot">Bot icon by Icons8</a></p>
    </div>
  </body>
</html>